
.html
  .header
    .header__edit
      test-user
      .header__box
        = link_to do
          = fa_icon 'pencil-square-o', class: 'icon'
      .header__box2
        = link_to edit_user_path(current_user) do
          = fa_icon 'cog', class: 'icon'

    .header__sample 
      .header__name
        user
      .header__comments
        こんにちは
    
  .contents
    .contents__group
      .contents__name
        test-group
      .contents__edit
        EDIT
      .contents__member
        Member
    .contents__messages   
      .contents_group
        .contents__user
          
        .contents__comments

    .contents__send
      .contents__letterbox
        .contents__letter
        hello
        .contents__photo
          %i.fa.fa-image
         
      .contents__btn
        SEND