.html{
  height: 100vh;
  width: 100vw;
  background-color: red;


  .side-bar {
    box-sizing: border-box;
    color: $white;
    width: 300px;
    .header {
      background-color: $side_blue_dark;
      height: 100px;
      line-height: 100px;
      padding: 0 20px;
      &__name {
        display: inline-block;
        font-size: $side_header_font;
        font-weight: bold;
      }
      &__lists {
        display: inline-block;
        .list {
          display: inline-block;
        }
        .icon {
          color: $white;
          font-size: $side_header_font;
        }
      }
    }

    .groups {
      background-color: $side_blue_light;
      height: calc(100vh - 100px);
      padding: 0 20px;
      .group {
        box-sizing: border-box;
        padding: 20px 0 40px;
        &__name {
          color: $white;
          font-size: $side_group_name;
        }
        &__message {
          color: $white;
          font-size: $side_group_message;
          margin-top: 5px;
        }
      }
    }
  }
.contents{
  height: 100vh;
  width: calc(100vw - 300px);
  float:right;
  background: #fafafa;
  position: relative;
  &__group{
    height: 70px;
    padding: 0 40px;
    border-bottom: solid 1px #eeeeee;
  }
  &__name{
    font-size: 20px;
    color: #333333;
    top:80px;
    float: left;
  }
  &__member{
    font-size: 12px;
    color: #999999;
    bottom: 0;
    height: 12px;
    width: 50px;
    
  }
  &__edit{
    font-size: 20px;
    color: #999999;
    padding:  10px 20px;
    float: right;
    color: #38AE;
    border: solid 1px #38AE;
  }
  &__messages{
    
    height: calc(100vh - 190px);
    background:#fafafa;

  }
  &__group{
    

  }
  &__user{
    padding: 0 40px;
  }
  &__comments{

  }
  &__send{
    position: absolute;
    bottom: 0;
    background: gray;
    height: 90px;
    width: calc(100vw - 300px);
    font-size: 16px;
    color: #434A54;
  }

  &__letterbox{
    width: calc(100vw - 440px);
    background: white;
    float: left;
    height: 50px;
    top: 20px;
    position: relative;
    padding-right: 10px; 
  }
  &__letter{
    left:10px;
    
  }
  &__photo{
    position: absolute;
    right: 10px;
    top: 15px;

  }
  &__btn{
  
    background: #38AE;
    width:70px;
    height: 50px;
    color: white;
    top: 20px;
    position: absolute;
    right: 40px;
    margin: auto;
    text-align: center;
  }
}
}