.html{
  height: 100vh;
  width: 100vw;
  background-color: red;
}
.header{
  width: 300px;
  background:#2f3e51;
  height: 100vh;
  color: #ffffff;
  font-weight: bold;
  float:left;

  &__edit{
    background: #253141;
    width: 260px;
    padding: 35px 20px 15px; 
    font-size: 16px;
    
  }
  &__box{
    float: right;
  }
  &__box2{
    float: right;
  }
  &__sample{
    width: 260px;
    padding: 0 20px;
  }
  &__name{
    font-size: 15px;
  }
  &__comments{
    padding: 5px 0 40px;
  }
}
.contents{
  height: 100vh;
  width: calc(100vw - 300px);
  float:right;
  background: #fafafa;
  position: relative;
  &__group{
    height: 70px;
    padding: 0 40px;
    border-bottom: solid 1px #eeeeee;
  }
  &__name{
    font-size: 20px;
    color: #333333;
    top:80px;
    float: left;
  }
  &__member{
    font-size: 12px;
    color: #999999;
    bottom: 0;
    height: 12px;
    width: 50px;
    
  }
  &__edit{
    font-size: 20px;
    color: #999999;
    padding:  10px 20px;
    float: right;
    color: #38AE;
    border: solid 1px #38AE;
  }
  &__messages{
    
    height: calc(100vh - 190px);
    background:#fafafa;

  }
  &__group{
    

  }
  &__user{
    padding: 0 40px;
  }
  &__comments{

  }
  &__send{
    position: absolute;
    bottom: 0;
    background: gray;
    height: 90px;
    width: calc(100vw - 300px);
    font-size: 16px;
    color: #434A54;
  }

  &__letterbox{
    width: calc(100vw - 440px);
    background: white;
    float: left;
    height: 50px;
    top: 20px;
    position: relative;
    padding-right: 10px; 
  }
  &__letter{
    left:10px;
    
  }
  &__photo{
    position: absolute;
    right: 10px;
    top: 15px;

  }
  &__btn{
   
    background: #38AE;
    width:70px;
    height: 50px;
    color: white;
    top: 20px;
    position: absolute;
    right: 40px;
    margin: auto;
    text-align: center;
  }
}
