.message{
  .upper-message{
    padding:46px 0 40px 0;
    display: flex;
    &__user-name{
      font-size: 16px;
      color: #434A54;
    }
  
    &__date{
      font-size: 12px;
      padding-left: 10px;
      color: #999999;
    }
  }
  .lower-message{
    &__content{
      padding-bottom: 40px;
      font-size:14px;
      color: #434A54;
    }
  
    &__image{

    }
  }
}
